.table {
    display: table;
}

.table-row-outer {
    display: contents;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: 0.5rem;
    border: 1px solid #ccc;
}